@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.parallax {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 30px;
}

h1, h2, h3, h4 {
	font-family: 'Eagle Lake', cursive;
}

h4 {
	font-size: 18px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

button {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;

	width: 200px;
	height: 45px;
	border: 1px solid black;
	border-radius: 10px;
	background: rgba(250, 250, 250, 0.8);

	margin: 5px;
}

.flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}


/*Home Page*/
#home {
	height: 100vh;
}

#home h1 {
	font-size: 48px;
}

#home .container {
	height: 60vh;
	justify-content: space-between;

	position: relative;
	top: 40%;
}

#scroll {
	width: 30px;
	margin-bottom: 30px;
}

/*Contact Page*/
#contact {
	box-sizing: border-box;
	height: 100vh;
	padding: 60px 0;
	justify-content: space-between;
}

#contact p {
	text-align: center;
}

.logo {
	opacity: 0.5;
}

/*About Page*/
#about {
	height: 90vh;
	justify-content: space-around;
	align-items: flex-start;
}

#about h2 {
	margin-top: 150px;
}

#about p {
	margin-top: 150px;
}

.social-media img {
	height: 40px;
	padding: 10px;
}

footer {
	height: 10vh;
}

@media only screen and (min-width: 725px) {
	.container {
		padding: 0 60px;
	}

	#home h1 {
		font-size: 70px;
	}

	h4 {
		font-size: 22px;
	}

	body {
		font-size: 24px;
		line-height: 40px;
	}

	button {
		width: 300px;
		height: 60px;
		margin: 20px;
	}

	#about p {
		width: 560px;
		margin-top: 300px;
	}
}

@media only screen and (min-width: 1024px) {
	.desktop {
		display: flex;
	}

	#about {
		width: 50%;
		order:0;
		justify-content: flex-end;
	}

	#about h2 {
		margin: 0;
	}

	#about p {
		margin-top: 50px;
		width: 480px;
	}

	#contact {
		width: 50%;
		order: 1;
		align-items: flex-end;
		justify-content: flex-end;
	}

	#contact p {
		width: 480px;
		text-align: right;
	}

	button {
		margin-right: 0;
	}

	#contact .logo {
		display: none;
	}
}