/*NAVIGATION BAR*/
nav {
	height: 8vh;
	padding: 0 2vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 5px 5px grey;
	background: white;

	position: fixed;
	z-index: 20;
	width: 100vw;
}

.logo h1{
	font-size: 30px;
	font-weight: 700;
}

.nav-links img{
	width: 40px;
}

.nav-links {
	position: absolute;
	right: 35px;
	top: 8vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	width: 50px;
	height: 50vh;

	transform: translate(100%);
	transition: all 0.5s ease-in;
}

.nav-links li {
	opacity: 0;
}

.burger {
	display: block;
	cursor: pointer;
	margin-right: 30px;
}

.burger div {
	display: block;
	content: "";
	width: 30px;
	height: 3px;
	margin: 7px;
	background: black;
	transition: all 0.3s;
}

.nav-active {
	transform: translate(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translate(50px);
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}

.toggle .first {
	transform: rotate(-45deg) translate(-7px, 7px);
}

.toggle .second {
	opacity: 0;
}

.toggle .third {
	transform: rotate(45deg) translate(-7px, -7px);
}

@media only screen and (min-width: 925px) {
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0 5px 5px grey;
	}

	.logo h1{
		font-size: 36px;
		font-weight: 700;
	}

	.nav-links img{
		width: 30px;
	}

	.nav-links li {
		opacity: 1;
	}

	.nav-links {
		flex-direction: row;
		justify-content: space-between;

		transform: translate(0px);
		width: 250px;
		height: auto;
		position: static;

		margin-right: 50px;
	}

	.burger {
		display: none;
	}
}

nav {
	display: none;
}