.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.base {
  transform: translateZ(0);
}
.back {
  transform: translateZ(-10px) scale(2.75);
}

.background {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

@media only screen and (min-width: 414px) {
  .back {
    transform: translateZ(-10px) scale(3.4);
  }
}

@media only screen and (min-width: 525px) {
  .back {
    transform: translateZ(-10px) scale(4);
  }
}

