@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

/*COMMON STYLES*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	overflow-x: hidden;
}

section {
	position: relative;
}

h1 {
	font-size: 24px;
	font-weight: 500;
}

h3 {
	font-size: 14px;
	font-weight: 400;
	color: grey;
}

p {
	font-size: 14px;
}

ul {
	list-style: none;
}

.wrap {
	box-sizing: content-box;
	max-width: 925px;
	padding: 40px 25px;
	margin: 0 auto;
}

/*COVER PAGE/Header*/
header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cover {
	box-sizing: border-box;
	width: 100%;
	padding: 0 40px;
	max-width: 480px;
	max-height: 400px;
}

.text {
	max-width: 500px;
}

.title {
	margin-top: 15px;
	text-align: center;
}

.date {
	text-align: center;
}

.description {
	text-align: justify;
	margin-top: 15px;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.streaming img{
	height: 50px;
}

.streaming {
	width: 230px;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

button {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;

	width: 230px;
	height: 50px;
	border: 1px solid black;
	border-radius: 25px;
}

#buy-btn {
	margin-top: 15px;
}

.heading {
	position: absolute;
	left: 25px;
	font-size: 30px;
	font-weight: 400;
}

/*TRACK LIST*/
.tracklist {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}
.tracklist ol{
	 
	list-style: none;
	counter-reset: item;
}

.tracklist li {
	counter-increment: item;
	font-size: 24px;
	height: 45px;
	width: 100%;
	margin: 15px 0;
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.tracklist li:before {
	margin-right: 30px;
	margin-left: 15px;
	content: counter(item);
	color: grey;
}

.tracklist li:after {
	content: "";
	height: 30px;
	width: 30px;
	background-image: url('assets/images/play-btn.png');
	background-size: 30px 30px;
	margin-left: auto;
	margin-right: 15px;
}

/*VIDEO*/
.video {
	height: 100vh;
	display: flex;
}

#youtube {
	border: none;
	width: auto;
	height: auto;
	position: relative;
	margin: 10vh 0;
}

#thumbnail {
	width: 100%
}

#play-btn {
	width: 20%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

/*MERCH*/
.merch {
	display: flex;
	flex-direction: column;
	align-items: center;

}
.merch img{
	width: 100%;
}

.vinyl img {
	padding: 20px;
}

.merch h2{
	font-size: 20px;
	font-weight: 400;
}

.vinyl, .t-shirt {
	display: flex;
	flex-direction: column;
	align-items: center;
} 

.merch-item {
	width: 300px;
}

.merch-item {
	width: 300px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
	font-size: 20px;
	border: 2px solid;
	color: grey;
}

.button:hover {
	color: black;
}

footer {
	height: 100vh;
	position: relative;
	display: flex;
}

.more {
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	align-self: center;
}

.more button {
	width: 300px; 
}

#share {
	font-size: 24px;
}

.more ul {
	display: flex;
	justify-content: space-between;
	width: 300px;
}

.more ul div {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 60px;
	width: 60px;
	border: 1px solid;
	border-radius: 50%;
}

.more img {
	width: 40px;
}

@media only screen and (min-width: 925px) {

	header {
		flex-direction: row;
	}

	.cover {
		width: 440px;
		padding: 0 40px 0 0;
	}

	.info {
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.title {
		font-size: 36px;
		text-align: left;
		margin-top: 40px;
	}

	.date {
		font-size: 20px;
		text-align: left;
	}

	.box {
		flex-direction: row;
		justify-content: space-between;
	}

	.heading {
		font-size: 36px;
	}

	.vinyl, .t-shirt {
		flex-direction: row;
		justify-content: center;
	}
}