@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

* {
	margin: 0;
	padding: 0;

	font-family: 'Montserrat', sans-serif;
}

body {
	overflow-x: hidden;
}

section {
	height: 100vh;
}
.wrapper {
	box-sizing: content-box;
	max-width: 925px;
	padding: 0 25px;
	margin: 0 auto;
}

h1 {
	font-size: 24px;
	font-weight: 500;
}

h3 {
	font-size: 14px;
	font-weight: 400;
	color: grey;
}

p {
	font-size: 14px;
}

ul {
	list-style: none;
}

nav {
	height: 8vh;
	padding: 0 2vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 5px 5px grey;
	background: white;

	position: fixed;
	z-index: 20;
	width: 100%;
}

.logo h1{
	font-size: 30px;
	font-weight: 700;
}

.nav-links img{
	width: 40px;
}

.nav-links {
	position: absolute;
	right: 35px;
	top: 8vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	width: 50px;
	height: 50vh;

	transform: translate(100%);
	transition: all 0.5s ease-in;
}

.nav-links li {
	opacity: 0;
}

.burger {
	display: block;
	cursor: pointer;
	margin-right: 30px;
}

.burger div {
	display: block;
	content: "";
	width: 30px;
	height: 3px;
	margin: 7px;
	background: black;
	transition: all 0.3s;
}

.nav-active {
	transform: translate(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translate(50px);
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}

.toggle .first {
	transform: rotate(-45deg) translate(-7px, 7px);
}

.toggle .second {
	opacity: 0;
}

.toggle .third {
	transform: rotate(45deg) translate(-7px, -7px);
}

header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cover {
	box-sizing: border-box;
	width: 100%;
	padding: 0 40px;
	max-width: 480px;
	max-height: 400px;
}

.text {
	max-width: 500px;
}

.title {
	margin-top: 15px;
	text-align: center;
}

.date {
	text-align: center;
}

.description {
	text-align: justify;
	margin-top: 15px;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.streaming img{
	height: 50px;
}

.streaming {
	width: 230px;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

button {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;

	width: 230px;
	height: 50px;
	border: 1px solid black;
	border-radius: 25px;
}

#buy-btn {
	margin-top: 15px;
}

.tracklist {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tracklist ol {
	list-style: none;
	counter-reset: item;
}

.tracklist li {
	counter-increment: item;
	font-size: 24px;
	height: 40px;
	width: 100%;
	margin: 15px 0;

	border: 2px solid black;
	border-radius: 15px;

	display: flex;
	align-items: center;
}

.tracklist li:before {
	margin-right: 30px;
	margin-left: 15px;
	content: counter(item);
	text-align: center;
	display: inline-block;
	color: grey;
}

.tracklist li:after {
	display: inline-block;
	content: "";

	height: 30px;
	width: 30px;

	background-image: url('assets/images/play-btn.png');
	background-size: 30px 30px;

	margin-left: auto;
	margin-right: 15px;
}

.merch img{
	width: 100%;
}

.vinyl img {
	padding: 20px;
}

.merch h2{
	font-size: 20px;
	font-weight: 400;
}

.vinyl, .t-shirt {
	display: flex;
	flex-direction: column;
	align-items: center;
} 

.merch-item {
	width: 300px;
}

.merch-item {
	width: 300px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


#youtube {
	border: none;
	width: auto;
	height: auto;
	position: relative;
	margin: 10vh 0;
}

#video {
	width: 100%
}

#play-btn {
	width: 20%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

footer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

footer button {
	width: 300px; 
}

#more {
	font-size: 20px;
	border: 2px solid;
	color: grey;
}

#more:hover {
	color: black;
}

#share {
	margin-top: 10vh;
	font-size: 18px;
}

footer ul {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin-top: 20px;
}

footer img {
	width: 40px;
}

footer ul div {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 60px;
	width: 60px;
	border: 1px solid;
	border-radius: 50%;

}

@media only screen and (min-width: 925px) {
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0 5px 5px grey;
	}

	.logo h1{
		font-size: 36px;
		font-weight: 700;
	}

	.nav-links img{
		width: 30px;
	}

	.nav-links li {
		opacity: 1;
	}

	.nav-links {
		flex-direction: row;
		justify-content: space-between;

		transform: translate(0px);
		width: 250px;
		height: auto;
		position: static;

		margin-right: 50px;
	}

	.burger {
		display: none;
	}

	header {
		flex-direction: row;
	}

	.cover {
		width: 440px;
		padding: 0 40px 0 0;
	}

	.info {
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.title {
		font-size: 36px;
		text-align: left;
		margin-top: 40px;
	}

	.date {
		font-size: 20px;
		text-align: left;
	}

	.box {
		flex-direction: row;
		justify-content: space-between;

	}

	.vinyl, .t-shirt {
		flex-direction: row;
		justify-content: center;
	}
}